div {
	border-radius: 5px;
}
center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #003399;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #003399;
}


h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
	color:white;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color: white;
}

li {
	list-style-type: square;
	color: white
}

a:hover {
	font-weight: bold;
}

.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 500px;
	background-color: #4CAF50;
	margin-bottom: 10px;
}

.right {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 88%;
	height: 500px;
	background-color: #333;
	margin-bottom: 10px;
}

#footer {
	position: relative;
	height: 50px;
	background-color: #4CAF50;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: white;
}

#footer p {
	position: relative;
	padding-top: 15px;
} 

body { 
	background-color: #ffffff

}

@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700);

@import url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

$textColor: White;
$greyColor: #BBB;

* {
  @include box-sizing(border-box);
}

html {
  background: black;
}

body {
  font-family: "Open Sans";
  font-size: 16px;
  color: $textColor;  
  font-smoothing: antialiased;
  font-weight: 600;
}

a {
  color: $greyColor;
}

.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0; bottom: 0;
  z-index: -1;

  display: block;
  background-color: black;
  background-image: url('http://ultraimg.com/images/Ho6hQWs.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;

  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.content {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 540px;
  height: 540px;

  background-color: rgba(10, 10, 10, 0.5);
  margin: auto auto;  
  padding: 40px;
  
  @include border-radius(4px);
  @include box-shadow(0 0 10px rgba(0,0,0,1));
  
  .title {
    
    text-align: center;
    font-size: 2.0rem;
    font-weight: 600;
    
    padding-bottom: 30px;
    
  } // .title
  
  input {
    width: 100%;
    font-size: 1.2rem;
    font-family: "Open Sans";
    
    margin: 10px 0px;
    
    border: none;
    padding: 10px;
    
    @include border-radius(4px);
  
  } // input
  
  input[type=checkbox] {
    display: none;
  }
  
  label {
    display: inline-block;
    width: 20px;
    height: 20px;

    cursor: pointer;
    position: relative;

    margin-left: 5px;
    margin-right: 10px;
    top: 5px;

    &:before {
      content: "";
      display: inline-block;

      width: 20px;
      height: 20px;
      
      @include border-radius(3px);

      position: absolute;
      left: 0;
      bottom: 1px;
      background-color: #aaa;
      @include box-shadow(inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8));        
    }
  } // label
  
  input[type=checkbox]:checked + label:before {
    content: "\2713";
    @include text-shadow(1px 1px 1px rgba(0, 0, 0, .2));
    font-size: 20px;
    color: Black;
    text-align: center;
      line-height: 20px;
  }  
  
  span {
    font-size: 0.9rem;
  }
  
  button {
    width: 100%;
    font-size: 1.1rem;
    padding: 10px;
    margin: 20px 0px;
    
    background-color: #66A756;
    color: $textColor;
    border: none;
    
    @include border-radius(4px);
  }
  
  .social {
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    
    span {
      display: inline-block;
      vertical-align: baseline;
      padding: 0 20px;
      
      &:before, &:after {
        content: '';
        display: block;
        width: 500px;
        position: absolute;
        top: 0.9em;
        border-top: 1px solid $textColor;
      }
      
      &:before {
        right: 75%;
      }
      
      &:after {
        left: 75%;
      }
    }
  }
  
  .buttons {
    width: 100%;
    margin: 30px 0px;
    
    button {
      float: left;
      width: 30%;
      margin: 0px 1.5%;
      
      i {
        padding-right: 7px;
      }
      
      &.facebook {
        background-color: #4464B2;
      }
      
      &.twitter {
        background-color: #28A9E0;
      }

      &.google {
        background-color: #DA4735;
      }
      
    } // button
    
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    
  } // .buttons
  
  .already {
    text-align: center;
    font-size: 0.9rem;
  }
  
} // .content



